.login-form-input-field {
    margin-bottom: 0px;
}

.login-form-input-container {
    width: 80%;
    margin-left: 10%;
}
.user-icon{
    font-size: 150px;
    color: rgba(2, 35, 255, 1);
    
}
.login-form-container {
    padding: 0px 20px;
    text-align: center;
    width: 100%;
    background: linear-gradient(white, white) padding-box, linear-gradient(90deg, rgba(2, 35, 255, 1) 25%, rgba(141, 39, 255, 1) 75%)border-box;
    border-top: 10px solid transparent;
    height: 76vh;
    margin-top: 12vh;
    box-shadow: 0px 0px 16px -8px rgb(0 0 0 / 68%);
    border-radius: 5px;
}


.form-submit-button {
    margin-top: 20px;
    background: linear-gradient(white, white) padding-box, linear-gradient(90deg, rgba(2, 35, 255, 1) 25%, rgba(141, 39, 255, 1) 75%)border-box;
    color: rgba(2, 35, 255, 1);
    border: 1px solid transparent;
}

.form-submit-button:hover {
    background: linear-gradient(90deg, rgba(2, 35, 255, 1) 25%, rgba(141, 39, 255, 1) 75%) padding-box,linear-gradient(white, white)border-box ;
    color: white;
    border: 1px solid transparent;
}